<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h2> hello {{me.firstName+" "+me.lastName}}</h2>
    <div *ngIf="(friends | async)?.length==0;else friendlist">no friends found.</div>
    <ng-template #friendlist>      
      <div  *ngFor="let friend of friends | async">
        <div class="user" (click)="removeFriend(friend)" *ngIf="friend.uid!==me.uid">{{friend.firstName}} {{friend.lastName}}</div>
      </div>
    </ng-template>
  </ion-content>
